@import '@fontsource/fira-code';
@import '@fontsource/ibm-plex-serif';

@font-face {
  font-family: 'FiraCode Nerd Font Mono';
  src: url('/fonts/FiraCode/FiraCodeNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'FiraCode Nerd Font Mono';
  src: url('/fonts/FiraCode/FiraCodeNerdFontMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

body {
  font-family: 'IBM Plex Serif', serif;
  font-feature-settings: "liga", "kern";
  font-variant-ligatures: common-ligatures;
}

code, pre, kbd, samp {
  font-family: 'Fira Code', monospace;
  font-size: 0.95em;
  line-height: 1.4;
}

.home {
  .background {
    filter: none;
  }
}

html[data-theme='dark'] .alert {
  strong {
    color: oklch(44.6% 0.043 257.281) !important; // slate-600
  }
}

.notFound {
  font-family: 'Fira Code', monospace;
}

div.ap-wrapper {
  display: block !important;
  outline: none;
  height: auto !important;
  text-align: center;
}
